@font-face {
  font-family: 'Indie Flower';
  src: local('Indie Flower'),
       url('/fonts/IndieFlower-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
