@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Prevent layout shift during hydration */
body.preload * {
  transition: none !important;
  animation: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

body.preload {
  opacity: 0;
  overflow: hidden;
}

h2 {
  @apply text-lg text-gray-600 font-normal max-w-full pb-3;
}
